<div class="card">
  <div class="card-body">
    <!-- title -->
    <h4 class="card-title">Whole World</h4>
    <h5 class="card-subtitle">You can add friend</h5>

    <!-- title -->
    <div class="table-responsive overflow-scroll">
      <table class="table align-middle">
        <thead>
        <tr>
          <th class="text-dark font-medium fs-4">Members</th>
          <th class="text-dark font-medium fs-4">Role</th>
          <th class="text-dark font-medium fs-4">Status</th>
          <th class="text-dark font-medium fs-4">time</th>
          <th class="text-dark font-medium fs-4">relationship</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor='let ts of userList'>
          <td>
            <div class="d-flex align-items-center">
              <img src="assets/images/users/user1.jpg" alt="user" width="45" class="rounded-circle">
              <div class="ms-3">
                <h5 class="mb-0 font-medium">{{ts.username}}</h5>
                <span class="text-muted">{{ts.email}}</span>
              </div>
            </div>
          </td>
          <td class="fs-4">{{ts.userRole}}</td>
          <td>
            <span class="p-2 bg-{{ts.isLog ? setStatusState(ts.status) : setStatusState(0) }} rounded-circle d-inline-block ms-3"></span>
          </td>

          <td class="fs-4">{{this.getTime(ts.createAt)}}</td>


          <td>
            <button type="button" class="btn btn-info" (click)="sendFriendShipInvitation(ts._id)">
              {{friendshipStatus(ts._id)}}
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
