<h4 class="font-medium mb-3">News :</h4>

<app-blog-cards></app-blog-cards>


<!-- ============================================================== -->
<!-- Sales chart -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Sales chart -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Table -->
<!-- ============================================================== -->
<h4 class="font-medium mb-3">Statistics :</h4>
<div class="row">
  <!-- column -->
  <app-top-cards></app-top-cards>
  <div class="col-lg-12">
    <app-whole-world></app-whole-world>
  </div>

</div>
